:root {
  /* 查看元素範圍用 */
  --bg-visualize: #ffffff25;
}

/* 設置畫面底色 */
body {
  background-color: #202020;
}

/* 設置文字顏色 */
.text-white {
  color: #fff;

  background-color: var(--bg-visualize);
}

.span-container {
  background-color: #fff;
  text-align: center;
}

span {
  vertical-align: middle;
}

span:nth-of-type(1) {
  display: inline-block;
  font-size: 40px;
}
